/* @import url("https://fonts.googleapis.com/css2?family=Mirza:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Tapestry&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #beb4b4;
}

.no-scrollbar::-webkit-scrollbar {
  width: 0rem;
}

.no-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #beb4b4;
}

.bgGlobal {
  background-image: url("../public/assets/bgGlobal.png");
}

.copyright {
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.03rem;
}

.card-welcome {
  border-radius: 1.25rem;
  border: 2px solid #fff;
  background: #222;
  box-shadow: 0px 2px 41px -7px rgba(251, 251, 251, 0.25);
}

.title-welcome {
  color: #fff;
  text-align: center;
  font-family: Mirza;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.title-card {
  color: #fff;
  /* font-family: Tajawal; */
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.card-selected-border {
  border: 2px solid #a3de83;
}

.card-noselected-border {
  border: 2px solid #222;
}

.input-form {
  border-radius: 20px;
  background: #0e0c0c;
  box-shadow: 0px 4px 28px -10px rgba(252, 247, 247, 0.25);
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}

.label {
  color: #fff;
  font-family: Mirza;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* styles for selected values in react select */
.css-1p3m7a8-multiValue {
  border-radius: 20px !important;
  color: #fff !important;

  padding: 6px 20px;
  background: #3f3f46 !important;
  box-shadow: 0px 4px 28px -10px rgba(252, 247, 247, 0.1) !important;
}

.css-1p3m7a8-multiValue__multi-value {
  color: #fff !important;
  background: #3f3f46;
}

.css-wsp0cs-MultiValueGeneric {
  color: #fff !important;
  opacity: 80%;
}

.css-12a83d4-MultiValueRemove {
  margin-left: 12px !important;
}
.css-9jq23d {
  color: #fff !important;
}
.circle-image {
  border-radius: 50px;
  background: #0e0c0c;
  box-shadow: 0px 4px 28px -10px rgba(252, 247, 247, 0.25);
}

/* Global styles */

.flex-wrapper-col {
  @apply flex min-h-[100vh]  flex-col justify-between px-6 pt-6;
}

/*MobileShowBtn */
#first,
#second,
#third {
  width: 40px;
  height: 3px;
}


